.imageSlider{
    
    padding: 10px 0;
}
.sliderHeader{
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    background: white;
}
.imageWindow{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.pages{
    
    background: radial-gradient(black, rgb(41, 41, 41));
   
    display: flex;
    justify-content: center;

}

.navBar{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    
}
.arrow{
   
    margin: 0 15px;
    font-size: 36px;
    line-height: 24px;
    transition: .5s;
    cursor: pointer;
}
.arrow:hover{
    color:rgb(165, 164, 164);
 
}
.pageNav{
    display: flex;
    justify-content: center;
  
}
.pageBtn{
    min-width: 10px;
    background-color: rgb(216, 216, 216);
    padding: 5px;
    transition: .5s;
    cursor:pointer;
}
.pageBtn:hover{
    background-color: rgb(151, 151, 151);
}
.pageBtn.viewed{
    background-color: rgb(65, 65, 65);
    color: white;
    cursor: default;
}
.orientationBtn{
    display: inline-block;
    width: 15%;
    border: 1px solid black;
    text-align: center;
    align-self: flex-end;
}

img{
    width: 100%;
    height: auto;
    max-width: 491px;
    max-height:760px; 

}
.frame{
    width: auto;
    max-height: 100%;
    display: flex;
    margin: 1%;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.253);
    
}
.Single{
    min-height: 220px;
    max-height:880px;
    min-width: 288px;
    max-width: 550px;
}


.landscape{
    transform: rotate(-90deg)
}

.left{
    justify-content: flex-end;
}

.light{
    color: rgb(121, 121, 121);
    font-weight: lighter;
    
}


footer{
    margin-bottom: 10px;
    padding-right: 20px;
    font-size: 10px;
    text-align: end;
    
}